/* https://stackoverflow.com/questions/66356329/how-to-add-styling-for-elements-in-react-markdown */
/* This worked */

/* Input, form */

/* root styles here */
.reactMarkDown {
  font-size: 1.25rem;
  /* background-color: green; */
  padding: 0 1rem;
  border: 1px solid #efefef;
  margin-top: 0;
  /* min-height: 10.25rem; */
  min-height: 18rem;

  width: 100% !important;

  border-radius: 0.1rem;

  word-break: break-word;

  /* 
    // [XS]: {
    //   padding: 0,
    // } 
  */
}

/* const MOBILE = "@media (max-width: 768px)"; */
/* const XS = "@media (max-width: 480px)"; */

/* @media ( max-width: 768px ) { */
@media ( max-width: 480px ) {
  .reactMarkDown {
    font-size: 1rem;
  }
}

/* .reactMarkDown ul {
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: disc outside none;
}

.reactMarkDown ul li {
  margin-left: 2em;
  display: list-item;
  text-align: -webkit-match-parent;
} */

.reactMarkDown img {
  max-width: 100% !important;
  border-radius: 0.25rem;
  /* border-radius: 0.5rem; */
}

.reactMarkDown a {
  color: rgb(17, 160, 245);
  text-decoration: none;
  transition: all 0.2s;
}

.reactMarkDown a:hover {
  opacity: 0.7;
}

.reactMarkDown blockquote {
  border-left: 4px solid #efefef;
  padding: 0 0 0 0.5rem;
  margin: 0 0 0.5rem 0;
}

/* Use the CSS given by the editor */
/* .reactMarkDown pre {
  background: #efefef;
  padding: 1rem;
  border-radius: 0.5rem;
} */

/* .reactMarkDown span {
  color: red;
} */
