*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

html,
body {
  background: #fff;

  height: 100%;
  min-height: 100%;

  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;

  font-family: "Satoshi", sans-serif;
  -webkit-overflow-scrolling: touch;

  /* * {
    -webkit-overflow-scrolling: touch;
  } */
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
  line-height: 1.2;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-xx {
  box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.25);
}

.shadow-mm {
  box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.25);
}

.feature-section button a {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.feature-section button svg {
  margin-top: 4px;
  font-size: 10px;
}
.featured .slick-prev,
.featured .slick-next {
  height: unset;
  width: unset;
  margin-inline: 30px;
  z-index: 10;
}
@-webkit-keyframes anim-glow {
  0% {
    box-shadow: 0 0 #58ab4d;
  }
  100% {
    box-shadow: 0 0 10px 8px transparent;
    border-width: 2px;
  }
}
@keyframes anim-glow {
  0% {
    box-shadow: 0 0 #58ab4d;
  }
  100% {
    box-shadow: 0 0 10px 8px transparent;
    border-width: 2px;
  }
}

.glow-container {
  position: relative;
}

.glow-icon {
  border-radius: 50%;
  /* background-color: #58ab4d; */
  /* filter: blur(4px); */
  border: 2px solid #58ab4d;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: anim-glow 1s ease infinite;
  animation: anim-glow 1s ease infinite;
}
.glow-sqr {
  border-radius: 50%;
  background-color: #58ab4d;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  position: absolute;
}
.glow-icon i {
  border-radius: 50%;
  border: 2px solid #58ab4d;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: 6px;
  background-color: #58ab4d;
}

.blockchain-list .slick-active img {
  margin-inline: auto;
}

.shadow-gg {
  box-shadow: 0px 1px 2px rgba(87, 87, 87, 0.18);
}

.jobs-posting > p {
  display: flex;
  align-items: center;
  gap: 8px;
}
.jobs-posting > p:after {
  display: block;
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #27292780;
}

.jobs-posting > p:last-child::after {
  display: none;
}

.clamp-2 {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
